# ==========================================
# DEVELOPMENT ENV EXAMPLE
# ==========================================

ENV=development

# for using the Vite development server with no API
VITE_MOCK_MODE=false

# See the game board's betting grid
VITE_SHOW_GAME_GRID=false

SITE_HTTP_PORT=5173
SITE_HTTPS_PORT=4433

CORS_ORIGIN=http://localhost:5173 

# PostgreSQL
POSTGRES_USERNAME=user
POSTGRES_PASSWORD=pass
POSTGRES_DB_NAME=speed-roulette
POSTGRES_DB_HOST=db
POSTGRES_DB_PORT=5432

# Redis
REDIS_ADDRESS=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
