:root {
    /* ========== Master ========== */
    --sr-master-light: #e9eef3; /* Source: neetcode.io in light mode */
    --sr-master-dark: #111827; /* gray-900 */

    /* ========== Standard ========== */
    --standard-black: #000;
    --standard-white: #fff;
    --gray-350: #b7bcc5;
    --green-250: #9AF4BC;
    --green-350: #40E88D;

    /* ========== Game ========== */
    --roulette-red: #ff0000;
    --roulette-green: #008000;
    --winning-number: #ffd700;

    /* ========== About Modal ========== */
    --github-color: #0d1117;
    --github-color-hover: #171b1f;
    --linkedin-color: #0177b5;
    --linkedin-color-hover: #1a8cd3;
}
