:root {
    /* ========== Master ========== */
    --sr-master-light: #e9eef3; /* Source: neetcode.io in light mode */
    --sr-master-dark: #111827; /* gray-900 */

    /* ========== Standard ========== */
    --standard-black: #000;
    --standard-white: #fff;
    --gray-350: #b7bcc5;

    /* ========== Game ========== */
    --roulette-red: #ff0000;
    --roulette-green: #008000;
    --winning-number: #ffd700;
}
