@import "tailwindcss";

@theme {
  --color-green: #008000;
  --color-red:  #ff0000;
  --color-winning: #FFD700;
  --color-gray-350: #b7bcc5;
}

:root {

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  .glow-effect {
    color: black;
    animation: glow 0.85s ease-in-out 4;
  }

  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 5px 2px rgba(255, 255, 0, 0.6);
    }
    50% {
      box-shadow: 0 0 20px 5px rgba(255, 255, 0, 1);
    }
  }

.glow-pulse-light {
  animation: glowPulseLight 1s linear infinite;
}

@keyframes glowPulseLight {
  0%, 100% {
    box-shadow: 0 0 0px rgba(155, 129, 0, 0.4); /* darker gold base */
  }
  50% {
    box-shadow: 0 0 12px 3px rgba(155, 129, 0, 0.7); /* more pronounced */
  }
}

.glow-pulse-dark {
  animation: glowPulseDark 1s linear infinite;
}

@keyframes glowPulseDark {
  0%, 100% {
    box-shadow: 0 0 0px rgba(255, 255, 0, 0.1); /* soft yellow */
  }
  50% {
    box-shadow: 0 0 12px rgba(255, 255, 0, 0.7);
  }
}

.constant-glow {
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.4),
    0 0 10px rgba(255, 255, 255, 0.2);
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 0.4s ease-out;
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-down {
  animation: slide-down 0.3s ease-in forwards;
}

body {
  background-color: #0f172a; /* same as Tailwind's bg-gray-900 */
}

.chip-button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  transition: background-color 0.2s;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
}

.roulette-num {
  font-size: 28px;
  font-weight: bold; 
  border-color: white;
  border-width: 2px;
  width: 86px;
  height: 86px;
}

.green-row {
  background: rgb(0, 135, 0);
}

.green-num {
  font-size: 28px;
  font-weight: bold; 
  border-color: white;
  border-width: 2px;
  width: 86px;
  height: 129px;
}

.green-selected-num {
  color: white;
  font-size: 28px;
  font-weight: bold; 
  border-color: white;
  border-width: 2px;
  width: 86px;
  height: 129px;
}

.button-third {
  /*background: rgb(0, 135, 0);*/
  background: green;
  color: white;
  font-size: 28px;
  font-weight: bold;
  border-color: white;
  border-width: 2px;
  width: 344px;
  height: 65px;
}

.button-bottom-green {
  /*background: rgb(0, 135, 0);*/
  background: green;
  color: white;
  font-size: 28px;
  font-weight: bold;
  border-color: white;
  border-width: 2px;
  width: 172px;
  height: 65px;
}

.button-bottom-red {
  background: red;
  color: white;
  font-size: 28px;
  font-weight: bold;
  border-color: white;
  border-width: 2px;
  width: 172px;
  height: 65px;
}

.button-bottom-black {
  background: black;
  color: white;
  font-size: 28px;
  font-weight: bold;
  border-color: white;
  border-width: 2px;
  width: 172px;
  height: 65px;
}

.board-grid {
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}