/* Constants not related to specific themes */
:root {
    --theme-transition: 0.25s; /* Also button transition in most cases */
    --site-font: system-ui, helvetica, arial, sans-serif;

    /* ========== Game ========== */
    --roulette-red: #ff0000;
    --roulette-black: #000;
    --roulette-green: #008000;
    --winning-number: #ffd700;
    --footer-link: #6d28d9;
    --footer-link-hover: #8b5cf6;
    --error-msg: #ef4444;
}

[data-theme='dark'] {
    /* ========== Master ========== */
    --sr-master: #111827;
    --standard-text: #fff;

    /* ========== Standard ========== */
    --standard-black: #000;
    --standard-white: #fff;
    --gray-350: #b7bcc5;
    --btn-primary-bg: #22c55e;
    --btn-primary-hover: #4ade80;
    --btn-disabled-bg: #4b5563;
    --btn-disabled-text: #9ca3af;
    --btn-bg: #374151;
    --btn-hover: #4b5563;
    --btn-color: #fff;
    --link-color: #3b82f6;
    --link-color-hover: #a855f7;
    --section-divider: #4b5563;
    --selected-chip-shadow: 0 0 0 4px white;

    /* ========== Home ========== */
    --home-splash-text-shadow: 0 0 6px rgb(255 255 255 / 40%);
    --name-input-bg: #1e1a4d;
    --name-input-color: #fff;
    --name-input-border: #4b5563;

    /* ========== Modals ========== */
    --modal-bg: #1f2937;
    --modal-bg-bg: rgb(17 24 39 / 80%);

    /* ========== Leaderboard ========== */
    --leaderboard-table-body-top: #e5e7eb;
    --rank-1: #7b4d14;
    --rank-2: #374151;
    --rank-3: #7c2d12;
    --even-row: #111827;
    --odd-row: #1f2937;

    /* ========== Tabs ========== */
    --active-tab: oklch(79.5% 0.184 86.047deg);
    --inactive-tab-border: #374151;
    --inactive-tab: #9ca3af;
    --inactive-tab-hover: #fff;

    /* ========== About Modal ========== */
    --github: #0d1117;
    --github-hover: #171b1f;
    --linkedin: #0177b5;
    --linkedin-hover: #1a8cd3;
}

/* Secondary theme mode. */
[data-theme='light'] {
    /* ========== Master ========== */
    --sr-master: #e9eef3; /* Source: neetcode.io in light mode */
    --standard-text: #000;

    /* ========== Standard ========== */
    --standard-black: #000;
    --standard-white: #fff;
    --gray-350: #b7bcc5;
    --btn-primary-bg: #9af4bc;
    --btn-primary-hover: #40e88d;
    --btn-disabled-bg: #d1d5db;
    --btn-disabled-text: #9ca3af;
    --btn-bg: #fff;
    --btn-hover: #d1d5db;
    --btn-color: #000;
    --link-color: #1d4ed8;
    --link-color-hover: #a855f7;
    --section-divider: #9ca3af;
    --selected-chip-shadow: 0 0 0 4px #eab308;

    /* ========== Home ========== */
    --home-splash-text-shadow: 0 0 4px rgb(0 0 0 / 10%);
    --name-input-bg: #fff;
    --name-input-color: #000;
    --name-input-border: #9ca3af;

    /* ========== Modals ========== */
    --modal-bg: var(--sr-master);
    --modal-bg-bg: rgb(17 24 39 / 80%);

    /* ========== Leaderboard ========== */
    --leaderboard-table-body-top: #000;
    --rank-1: #fef08a;
    --rank-2: #d1d5db;
    --rank-3: #fed7aa;
    --even-row: #f3f4f6;
    --odd-row: #eaeef2;

    /* ========== Tabs ========== */
    --active-tab: #b45309;
    --inactive-tab-border: #000000;
    --inactive-tab: #6a7282;
    --inactive-tab-hover: #000;

    /* ========== About Modal ========== */
    --github: #0d1117;
    --github-hover: #171b1f;
    --linkedin: #0177b5;
    --linkedin-hover: #1a8cd3;
}
