@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* optional slide-up effect */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.light-glow {
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.25),
        /* strong base shadow */ 0 0 10px rgba(0, 0, 0, 0.2),
        /* outer glow */ 3px 5px 20px rgba(0, 0, 0, 0.15),
        /* long soft shadow */ 0 0 12px rgba(255, 255, 255, 0.6); /* white ambient glow for contrast */
}

.constant-glow {
    text-shadow:
        0 0 6px rgb(255 255 255 / 40%),
        0 0 10px rgb(255 255 255 / 20%);
}

#profanity-error {
    visibility: hidden;
}

.home-action-btn {
    width: 7.5rem; /* w-30 */
    height: 7.5rem; /* h-30 */
    border-radius: 9999px; /* rounded-full */
    display: flex; /* flex */
    justify-content: center; /* justify-center */
    align-items: center; /* items-center */
    transition-duration: 200ms; /* duration-200 */
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 2px 4px rgba(0, 0, 0, 0.06); /* shadow-md */
}

/* Hover effect */
.home-action-btn:hover {
    transform: scale(1.1); /* hover:scale-110 */
}
